<div>
  <div class="row mt-4 justify-content-evenly text-center row-gap-4">
    <div class="col-5 border border-success">
      <a routerLink="get-api">
        <h3>Get Api Fetch</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="post-api">
        <h3>Post Api Fetch</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="put-api">
        <h3>Put / Update Api Fetch</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="delete-api">
        <h3>Delete Api Fetch</h3>
      </a>
    </div>
  </div>
</div>
